/* Resalta las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #0a0b0c;
  border-radius: 50%;
  width: 1.0rem; /* más chico */
  height: 4.0rem; /* más chico */
  background-size: 60% 60%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}


.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-next {
  justify-content: flex-end;
}

/* Barra de derechos reservados */
#footer {
 background-color: #343a40;
  color: #fff;
  
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 100;
}
/* Imagen de la sección Quiénes Somos */
.img-quienes {
  max-width: 550px;
  width: 100%;
  height: auto;
  border-radius: 0.9rem;
  margin-left: 780px;
  margin-bottom: 20px;
  display: block;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f4f6fb;
  background-color: #343a40;
}

.hero-section {
  min-height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  box-shadow: 0 4px 32px rgba(0,0,0,0.12);
}

h1, h2 {
    
  color: #0d6efd;
}

.navbar {
  transition: box-shadow 0.3s;
}

.navbar.scrolled {
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

footer {
  background: #0d6efd;
  color: #fff;
  letter-spacing: 1px;
}

form .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
}

.container1 {
  background-color: rgb(189, 147, 95);
}
.carousel-control-prev,
.carousel-control-next {
  left: 100 !important;
  right: 100 !important;
  width: 5%; /* ocupa menos espacio pero se pega al borde */
}
.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-next {
  justify-content: flex-end;
}

